<div id="new-comment-destroy-modal-<%=post.id%>" class="post-modal-wrapper">
  <div id="new-post-destroy-form" class="warning-form">
    <div class="destroy-modal-content">内容を破棄してもよろしいですか？</div>
    <div class="warning-modal-menu">
      <input type="submit" value="はい" id="new-comment-modal-yes-btn-<%=post.id%>" class="destroy-modal-yes-btn">
      <div id="new-comment-modal-no-btn-<%=post.id%>" class="destroy-modal-no-btn">いいえ</div>
    </div>
  </div>
</div>
