<%= render partial: 'posts/newpost' %>
<%= render partial: 'posts/new_post_destroy' %>
<div class="main">
  <div class="main-container">
    <div id="posts_index" class="serch-center-items">
      <div class="serch-header-menu">
        <%= render partial: 'search_menu' %>
      </div>
      <div id="posts-index-item" class="serch-center-item-container">
        <%= render partial: 'posts',locals: {serch_posts_words: @serch_posts_words} %>
      </div>
    </div>
  </div>
</div>
