<div id="edit-gender-destroy-modal" class="post-modal-wrapper">
  <div id="new-post-destroy-form" class="warning-form">
    <div class="destroy-modal-content">内容を破棄してもよろしいですか？</div>
    <div class="warning-modal-menu">
      <%= link_to("/profile/#{user.public_uid}") do %>
      <input type="submit" value="はい" id="edit-gender-modal-yes-btn" class="destroy-modal-yes-btn">
      <% end %>
      <div id="edit-gender-modal-no-btn" class="destroy-modal-no-btn">いいえ</div>
    </div>
  </div>
</div>
