<div id="new-post-destroy-modal" class="post-modal-wrapper">
  <div id="new-post-destroy-form" class="warning-form">
    <div class="destroy-modal-content">内容を破棄してもよろしいですか？</div>
    <div class="warning-modal-menu">
      <input type="submit" value="はい" id="new-post-modal-yes-btn" class="destroy-modal-yes-btn">
      <div id="new-post-modal-no-btn" class="destroy-modal-no-btn">いいえ</div>
    </div>
  </div>
</div>
