//ログインページレイアウト
.login-form-content-container{
  background:rgb(150,150,150);
  width:45%;
  height: 130vh;
  float:left;
  position:relative;
}

.login-form-contents{
  padding:50px 0px;
}

.login-form-content-container ul{
  margin:0 auto;
  margin-top:10%;
  width:75%;
}

.login-form-content-container li{
  margin-bottom:50px;
  font-size:26px;
  color:rgb(240,240,240);
}

.login-form-content-container h2{
  margin:0 auto;
  margin-top:10%;
  color:rgb(240,240,240);
  font-size:30px;
  width:75%;
}

.login-form-content-container p{
  margin:0 auto;
  margin-top:3%;
  font-size:20px;
  color:rgb(240,240,240);
  letter-spacing: 2px;
  width:75%;
}

.login-form-content-container h1{
  text-align:center;
  margin-top:-50px;
  font-size:80px;
  text-shadow: 0px 3px 0px #AAA, 0px 14px 10px rgba(0, 0, 0, 0.2), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.05);
  font-weight:600;
  color:white;
  width:200%;
}

.font-facebook{
  margin-right:5px;
}

.font-twitter{
  margin-right:5px;
}

.facebook-login-form-btn{
  height:30px;
  line-height:30px;
  width:220px;
  font-size:16px;
  font-weight:300;
  background-color:rgba(59,89,152,0.8);
  border-radius:5px;
  border:1px solid rgba(59,89,152,0.5);
  color:white;
  text-align:center;
  display:inline-block;
  cursor:pointer;
}

.facebook-login-form-btn a{
  color:white;
  display:block;
}

.facebook-login-form-btn a:link{
  color:white;
}

.facebook-login-form-btn a:visited{
  color:white;
}

.facebook-login-form-btn:hover{
  background-color:rgba(79,99,172,0.8);
  border:1px solid rgba(79,109,172,0.5);
}

.twitter-login-form-btn{
  height:30px;
  line-height:30px;
  width:220px;
  font-size:16px;
  font-weight:300;
  background-color:rgba(0,172,238,0.8);
  border-radius:5px;
  border:1px solid rgba(0,172,238,0.5);
  text-align:center;
  display:inline-block;
  cursor:pointer;
}

.twitter-login-form-btn a{
  display:block;
}

.twitter-login-form-btn a{
  color:white;
}

.twitter-login-form-btn a:link{
  color:white;
}

.twitter-login-form-btn a:visited{
  color:white;
}

.twitter-login-form-btn:hover{
  background-color:rgba(20,192,255,0.8);
  border:1px solid rgba(20,192,255,0.5);
}

.font-new{
  margin-right:10px;
}

.new-login-form-btn{
  height:30px;
  margin:0 auto;
  margin-top:10px;
  line-height:30px;
  width:220px;
  font-size:16px;
  font-weight:300;
  background-color:rgba(128,128,128,0.8);
  border-radius:5px;
  border:1px solid  rgba(128, 128, 128, 0.6);
  color:white;
  text-align:center;
  cursor:pointer;
}

.new-login-form-btn a{
  display:block;
}

.new-login-form-btn a:link{
  color:white;
}

.new-login-form-btn a:visited{
  color:white;
}

.new-login-form-btn:hover{
  background-color:rgba(100,100,100,0.8);
  border:1px solid  rgba(100, 100, 100, 0.6);
}

.login-form-container{
  background-color:rgba(200,200,200,0.2);
  height:130vh;
  width:55%;
  float:left;
}

.login-btn-container{
  position: absolute;
  top: 63%;
  right: 8%;
  width:460px;
}

.login-left-container{
  position:fixed;
  background-color:rgba(100, 100, 100, 0.6);
  font-weight:100;
  height:270px;
  top:350px;
  width:100%;
}

.login-hold-container{
  margin-top:10px;
  text-align:left;
}

.login-hold-label{
  color:white;
  font-size:14px;
}

.login-left-radius{
  background-color:white;
  border-radius:50%;
  width:550px;
  height:550px;
  padding-bottom:82px;
  text-align:center;
  margin:0 auto;
  margin-top:80px;
  position:relative;
}

.login-left-header{
  position: absolute;
  top: 7%;
  left: 31%;
}

.login-form-body {
  position: absolute;
  top: 15%;
  right: 18%;
  padding: 30px;
  padding-bottom:60px;
  margin-right:20px;
  height:220px;
  width:360px;
  margin:0 auto;
  margin-top:30px;
  border-radius: 10px;
  background-color:rgba(148,148,148,0.5);
  border:solid 1px rgba(60,60,60,0.3);
}

.login_email_form{
  height:30px;
  width:100%;
  border-radius: 5px;
  background-color:rgba(80,80,80,0.3);
  border:solid 1px rgba(60,60,60,0.3);
  color:white;
  outline:none;
}

.login_email_form::placeholder {
  color: white;
}

.login_password_form{
  height:30px;
  width:100%;
  margin-top:25px;
  border-radius: 5px;
  background-color:rgba(80,80,80,0.3);
  border:solid 1px rgba(60,60,60,0.3);
  color:white;
  outline:none;
}

.login_password_form::placeholder {
  color: white;
}

.login-form-btn{
  background-color:rgba(120,120,120,0.3);
  border:solid 1px rgba(60,60,60,0.3);
  color: white;
  cursor: pointer;
  width: 80px;
  text-align:center;
  font-size:14px;
  height:30px;
  line-height:30px;
  border-radius: 5px;
  margin-top:18px;
  margin-right:-6px;
  float:right;
  outline:none;
}

.login-form-btn:hover{
  background-color:rgba(140,140,140,0.3);
  border:solid 1px rgba(60,60,60,0.3);
}

.login-password-forget-container{
  margin-top:20px;
}

.login-password-forget:link{
  color:rgba(255,255,255,1);
}

.login-password-forget:visited{
  color:rgba(255,255,255,1);
}

.login-password-forget:hover{
  color:rgba(255,255,255,0.8);
}

.login-message:link:hover{
  border-bottom:1px solid rgba(255,255,255,0.8);
}

.login_error_message{
  color:red;
  text-align:left;
  font-size:11px;
  font-weight:600;
}

@media(max-width:1170px){
  .login-form-container{
    width:100%;
  }

  .login-form-content-container ul{
    margin-top:35;
  }

  .login-form-content-container li{
    font-size:26px;
  }

  .login-form-content-container{
    width:100%;
    padding-bottom:30px;
    height:auto;
  }

  .login-form-content-container h2{
    margin-top:5%;
  }

  .login-form-content-container p{
    font-size:18px;
  }

  .login-form-content-container h1{
    margin-top:0%;
    padding-bottom:0px;
    width:100%;
  }

  .login-left-radius{
    float:none;
    margin:auto;
    margin-top:5%;
    position:relative;
    clear:both;
  }

  .login-left-header{
    position:absolute;
    top:0%;
    left:29%;
  }

  .login-form-body {
    position: absolute;
    top: 15%;
    right: 21%;
  }

  .login-btn-container{
    position: absolute;
    top: 55%;
    right: 13%;
  }

  .login-left-header{
    position: absolute;
    top: 10%;
    left: 31%;
  }

  .login-form-body {
    position: absolute;
    top: 15%;
    right: 17%;
  }

  .login-btn-container{
    position: absolute;
    top: 70%;
    right: 7%;
  }

  .login-btn-container{
    position: absolute;
    top: 62%;
    right: 8%;
    width:458px;
  }
}

@media(max-width:750px){
  .login-left-radius{
    border-radius:0%;
    width:100%;
    height:550px;
  }

  .facebook-login-form-btn{
    display:block;
    margin:0 auto;
    margin-top:10px;
  }

  .twitter-login-form-btn{
    display:block;
    margin:0 auto;
  }

  .new-login-form-btn{
    margin-top:-10px;
  }

  .login-form-content-container{
    width:100%;
  }

  .login-form-container{
    width:100%;
  }

  .login-form-content-container ul{
    margin:0 auto;
  }

  .login-form-content-container li{
    margin-bottom:20%;
  }

  .login-form-content-container h2{
    margin:50px auto;
    font-size:26px;
  }

  .login-form-content-container p{
    margin:0 auto;
    margin-bottom:10%;
  }

  .login-left-header{
    position:static;
    width:100%;
    text-align:center;
    padding-top:20px;
  }

  .login-form-body {
    position: static;
    margin: 30px auto;
  }

  .login-btn-container{
    position: static;
    width:100%;
  }
}

@media(max-width:411px){
  .login-form-content-container h1{
    font-size:45px;
  }

  .login-form-body {
    width:100%;
  }
}
//ログインページレイアウト
