// index右ページレイアウト
.index-userlist-containers{
  width:25%;
  height:auto;
  float:left;
  margin-bottom:30px;
}

.responsive-index-userlist-container{
  width:100%;
  height:auto;
  margin-bottom:30px;
  border-top:solid 1px #c1ced7;
  background-color: white;
  overflow:scroll;
  display:block;
  float:left;
}

.index-userlists-container{
  overflow:scroll;
  height:504px;
}

.index-userlist-container{
  padding-top:39px;
  width:100%;
  height:auto;
  margin-top:-38px;
  margin-bottom:30px;
  background-color: white;
  float:right;
  border-right:solid 1px #c1ced7;
  border-top:solid 1px #c1ced7;
}

.index-userlist-header{
  text-align:center;
  border-bottom:solid 1px #c1ced7;
  height:34px;
  line-height:36px;
  width:100%;
  background-color:white;
  z-index:10;
}

.index-userlist-content{
  height:100px;
  border-bottom:solid 1px #c1ced7;
  position:relative;
}

.index-userlist-image{
  background-color:white;
}

.index-userlist-image img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  background-color:white;
  border:solid 1px #c1ced7;
  position:absolute;
  top:5px;
  left:10px;
}

.index-userlist-name{
  font-weight: 600;
  text-align:center;
  font-size:16px;
  color:black;
  position:absolute;
  top:10px;
  left:70px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.index-userlist-name a:hover{
  border-bottom:solid 1px black;
}

.index-userlist-id{
  font-weight: 600;
  text-align:center;
  font-size:14px;
  color:black;
  position:absolute;
  top:33px;
  left:70px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.index-userlist-name a:link{
  color:black;
}

.index-userlist-name a:visited{
  color:black;
}

@media(max-width:1170px){
  .index-userlist-containers{
    width:35%;
    clear:left;
    height:auto;
    margin-top:-30px;
    padding-bottom:500px;
  }
}

@media(max-width:750px){
  .index-userlist-containers{
    display:none;
  }

  .index-profile-containers{
    display:none;
  }
}
// index右ページレイアウト
