// index左メニューページレイアウト
.index-profile-containers{
  min-width:250px;
  max-width:320px;
  width:25%;
  height:auto;
  margin-bottom:30px;
  position:relative;
  float:left;
}

.index-profile-container{
  min-width:250px;
  max-width:320px;
  width:100%;
  height:auto;
  background:black;
  float:left;
  background-color:white;
  border-bottom:solid 1px #c1ced7;
}

.index-profile-koukoku-container{
    height:auto;
      width:100%;
      float:left;
      margin:5px 0px;
}

.index-profile-koukoku-container img{
    height:auto;
    min-width:250px;
    max-width:320px;
      width:100%;
      object-fit:cover;
}

.index-user-background img{
  height:100px;
  width:100%;
  object-fit: cover;
}

.index-user-image{
  background-color:white;
}

.index-user-image img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border:solid 1px #c1ced7;
  object-fit: cover;
  background-color:white;
  position:absolute;
  top:60px;
 left: calc((100% - 80px) / 2);
}

.index-user-name{
  font-weight: 600;
  text-align:center;
  font-size:22px;
  margin-top:40px;
  width:100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.index-user-name a:hover{
  border-bottom:1px solid black;
}

.index-user-id{
  font-weight: 600;
  text-align:center;
  font-size:18px;
}

.index-user-name a:link{
  color:black;
}

.index-user-name a:visited{
  color:black;
}

.index-user-content li{
  width:49%;
  display:inline-block;
  margin-top:20px;
  font-size:18px;
  font-weight:600;
  text-align:center;
    height:auto;
}

.index-connects a{
  display:block;
  color:rgba(0,0,0,0.6);
}

.index-connecteds a{
    display:block;
}

.index-connects:hover a{
  color:rgba(0,0,0,1);
}

.index-connecteds:hover a{
  color:rgba(0,0,0,1);
}

@media(max-width:1170px){
  .index-profile-containers{
    width:35%;
    min-width:initial;
    max-width:initial;
  }

  .index-profile-container{
    margin-bottom:2%;
    min-width:initial;
    max-width:initial;
  }

  .index-profile-koukoku-container img{
      min-width:initial;
      max-width:initial;
  }
}
// index左メニューページレイアウト
