// showページレイアウト
.show_post_image_container{
  overflow:hidden;
  margin-left:76px;
  width:85%;
  min-width:250px;
  max-height:500px;
}

.show_post_image_1{
  width:100%;
  min-width:250px;
  height:auto;
  max-height:500px;
  min-height:180px;
  margin:2px;
  border-radius: 10px;
  object-fit: cover;
  background-color:white;
}

.show_post_images{
  margin:2px;
  width:49%;
  max-width:380px;
  min-width:200px;
  height:auto;
  max-height:250px;
  min-height:120px;
  border-radius: 10px;
  object-fit: cover;
  background-color:white;
  float:left;
}

.show_post_video{
  width:100%;
  min-width:200px;
  height:auto;
  max-height:500px;
  min-height:140px;
  margin:2px;
  border-radius: 10px;
  object-fit: cover;
  background-color:white;
}

.posts-show-item-container{
  margin-top:36px;
  height:1000px;
}

.show-left-menu{
  width:30%;
  max-width:500px;
  height:auto;
  margin-right:2%;
  float:left;
  padding-bottom:200px;
}

.show-profile-koukoku-container{
  width:100%;
  float:left;
  margin:5px 0px;
}

.show-profile-koukoku-container img{
  width:100%;
}

.show-userlist-container{
  width:100%;
  height:540px;
  background-color: white;
  border-bottom:solid 1px #c1ced7;
  border-left:solid 1px #c1ced7;
  border-right:solid 1px #c1ced7;
  border-top:solid 1px #c1ced7;
  position:relative;
  float:left;
}

.show-userlist-header{
  border-bottom:solid 1px #c1ced7;
  text-align:center;
  height:36px;
  line-height:36px;
}

.index-userlist-content-container{
  overflow:scroll;
  width:100%;
  height:504px;
}

.show-profile-container{
  width:100%;
  height:auto;
  margin-bottom:2%;
  border-bottom:solid 1px #c1ced7;
  border-left:solid 1px #c1ced7;
  border-right:solid 1px #c1ced7;
  border-top:solid 1px #c1ced7;
  position:relative;
  background-color:white;
}

.show-center-header{
  width:100%;
  height:36px;
  float:right;
  line-height:36px;
  text-align:center;
  font-weight:600;
  background-color: white;
  border-bottom:solid 1px #c1ced7;
  border-left:solid 1px #c1ced7;
  border-right:solid 1px #c1ced7;
  border-top:solid 1px #c1ced7;
  z-index:10;
}

.posts-show-item {
  position:relative;
  background-color: white;
  padding-bottom:15px;
  height:auto;
  width:100%;
  border-bottom:solid 1px #c1ced7;
  border-left:solid 1px #c1ced7;
  border-right:solid 1px #c1ced7;
  transition:0.5s;
  float:right;
}

.posts-show-item:hover {
  background-color:rgba(200,216,225,0.4);
}

.posts-show-center-items {
  width:68%;
  height:auto;
  padding-bottom:200px;
  float:right;
}

@media(max-width:1024px){
  .show-left-menu{
    display:none;
  }

  .posts-show-center-items {
    width:100%;
  }

  .show_post_image_1{
    width:100%;
  }

  .show_post_image_container{
    width:88%;
  }
}

@media(max-width:750px){
  .show_post_image_container{
    width:75%;
  }

  .show_post_images{
    margin:2px;
    width:48%;
    min-width:initial;
    min-height:90px;
  }

  .show_post_images{
    min-height:70px;
  }
}

@media(max-width:320px){
  .show_post_image_container{
    width:70%;
    min-width:200px;
  }

  .show_post_image_1{
    width:100%;
    min-width:200px;
    height:auto;
    max-height:320px;
    min-height:150px;
  }

  .show_post_images{
    min-height:70px;
  }
}
