// userprofile右ページレイアウト
.userprofile-right-containers{
  width:25%;
  height:1000px;
  margin-top:5px;
    float:left;
  border-top:solid 1px #c1ced7;
}


  .userprofile-right-container{
    width:100%;
    height:540px;
    background-color: white;
    border-bottom:solid 1px #c1ced7;
    border-left:solid 1px #c1ced7;
    border-right:solid 1px #c1ced7;
  }

  .userprofile-userlist-header {
    height:36px;
    line-height:36px;
    text-align:center;
    border-bottom:solid 1px #c1ced7;
    background-color:white;
  }

.userprofile-userlist-content-container {
  height:504px;
    overflow:scroll;
}

@media(max-width:1170px){
  .userprofile-right-containers{
    display:none;
  }
}
// userprofile右ページレイアウト
